<!DOCTYPE html>
<html>
<head>
    <title>元智大學棒球隊</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="main-container">
    <div style="
    width: 100%;
    background: linear-gradient(90deg, #786bfd 45%, #8ec5fc 100%);
    padding: 32px 0 24px 0;
    margin-bottom: 0;
    border-radius: 0 0 26px 26px;
    box-shadow: 0 6px 28px #dfe6fa88;
    ">
    <h1 style="
        color: #fff;
        font-size: 2.45em;
        font-weight: 900;
        letter-spacing: 3px;
        margin: 0;
        text-shadow: 2px 2px 9px #9da3f733;
        text-align: center;
    ">
        元智大學棒球隊
        </h1>
    </div>
    {% block content %}{% endblock %}
    </div>
</body>
</html>
