{% extends "base.html" %}
{% block content %}
<h2>球員列表</h2>
<table border="1">
    <tr>
        <th>姓名</th>
        <th>背號</th>
        <th>守備位置</th>
        <th>操作</th>
    </tr>
    {% for player in players %}
    <tr>
        <td>{{ player.name }}</td>
        <td>{{ player.number }}</td>
        <td>{{ player.position }}</td>
        <td><a class="form-btn" style="min-width:110px;background:#df4242;" href="{{ url_for('delete_player', id=player.id) }}">刪除</a></td>
    </tr>
    {% endfor %}
</table>
<a class="menu-btn" href="{{ url_for('add_player') }}">新增球員</a>
<a class="menu-btn" href="{{ url_for('index') }}">回首頁</a>
{% endblock %}
