{% extends "base.html" %}

{% block content %}
<h2>選擇要繼續紀錄的比賽</h2>
<table border="1" cellpadding="6">
    <tr>
        <th style="width:120px;">日期</th>
        <th style="width:220px;">對手</th>
        <th style="width:100px;">比分</th>
        <th style="width:170px;"></th>
    </tr>
    {% for game in games %}
    <tr>
        <td>{{ game.date }}</td>
        <td>{{ game.opponent }}</td>
        <td>{{ game.team_score }} : {{ game.opponent_score }}</td>
        <td style="text-align:center;">
            <a class="form-btn" style="min-width:110px;" href="{{ url_for('set_batting_order', game_id=game.id) }}">開始記錄</a>
        </td>
    </tr>
    {% endfor %}
</table>
<a class="menu-btn" href="{{ url_for('index') }}">回首頁</a>
{% endblock %}
